{% extends "layout.html" %}

{% block title %} Portfolio {% endblock %}

{% block main %}

    <div class="my-3 text-left">
        <h3 class="mb-3 fw-6 text-capitalize">Glad to have you here, {{ name }}!</h3>
        <h5>Here are your stocks.</h5>
    </div>

    <table class="table table-striped" data-aos="fade-down">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td class="text-start">{{ stock.symbol }}</td>
                    <td class="text-end">{{ stock.shares }}</td>
                    <td class="text-end">{{ stock.price }}</td>
                    <td class="text-end">{{ stock.total }}</td>
                <tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
                <td class="border-0 text-end">{{ cash }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ total }}</td>
            </tr>
        </tfoot>
    </table>

{% endblock %}
