{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}
    <!-- Login form -->
    <form action="/login" method="post" class="p-5 col-xl-4 offset-xl-4 col-auto">
        <div class="mb-3">
            <!-- Username -->
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username"
                type="text" required>
        </div>
        <!-- Password -->
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" required>
        </div>
        <!-- Login -->
        <div class="text-center mb-3">
            <button class="btn btn-primary" type="submit">Log In</button>
        </div>
        <!-- Validation -->
        <p id="validation" class="mb-3 text-center small fw-light text-muted">{{ message }}</p>
    </form>

{% endblock %}
