{% extends "layout.html" %}

{% block title %} Quote {% endblock %}

{% block main %}
    <!-- Quote Form -->
    <form action="/quote" method="post" class="text-center" data-aos="fade-left">
        <!-- Symbol -->
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
        </div>
        <!-- Quote -->
        <div class="text-center mb-3">
            <button class="btn btn-primary" type="submit">Quote</button>
        </div>
        <!-- Validation -->
        <p id="validation" class="mb-3 text-center small fw-light text-muted">{{ message }}</p>
    </form>

{% endblock %}
